footer.footer
    .footer__logo
        img(src='/img/logo.png' alt='Skinformation101 Logo')
    ul.footer__nav
        li: a(href='/about') About Us
        li: a(href='/contact') Contact Us
        li: a(href='/consultations') Book a Consultation
        li: a(href='/staff') Meet the team
    p.footer__copyright &copy; by Skinformation101